@model IEnumerable<StoreFront.DATA.EF.Category>

@{
    ViewBag.Title = "Shop by Category";
}

<h2>@ViewBag.Title</h2>

@*New categories needed to be added directly to the database. category-'categoryid'.jpg for the image in VS shop folder..*@

<section id="portfolio" class="portfolio">
    <div class="container">
        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
            @foreach (var item in Model)
            {
                <a href="@Url.Action("Index", "Products")?SearchString=@item.CategoryName">
                    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                        <img src="~/Content/img/shop/category-@(item.CategoryID).jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>@Html.DisplayFor(modelItem => item.CategoryName)</h4>
                            <p>@Html.DisplayFor(modelItem => item.Description)</p>                          
                        </div>
                    </div>
                </a>
            }
        </div>
    </div>
</section>


@*<tr>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>

            @Html.ActionLink("Details", "Details", new { id = item.CategoryID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.CategoryID })
        </td>
    </tr>*@
@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>*@
